agenda-google-calendar-.json
{
  "updatedAt": "2026-05-12T14:46:21.277Z",
  "createdAt": "2026-05-11T14:31:42.871Z",
  "id": "X2D2OdFZ8ZhWMZ45",
  "name": "Agenda Google Calendar",
  "active": false,
  "isArchived": true,
  "nodes": [
    {
      "id": "987e6716-9259-4b2d-bd13-45ca588fdaf3",
      "name": "Webhook Agenda",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        96
      ],
      "parameters": {
        "httpMethod": "POST",
        "path": "agendar-cita",
        "responseMode": "lastNode"
      },
      "webhookId": "cc7d6c46-0e8e-4036-9611-b8beed3b0c1e"
    },
    {
      "id": "855ff627-8bf4-4981-826d-b07218826f41",
      "name": "Preparar Datos",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        224,
        96
      ],
      "parameters": {
        "mode": "manual",
        "assignments": {
          "assignments": [
            {
              "id": "1",
              "name": "fecha_inicio",
              "value": "={{ $json.body.fecha + \"T\" + $json.body.hora + \":00\" }}",
              "type": "string"
            },
            {
              "id": "2",
              "name": "fecha_fin",
              "value": "={{ DateTime.fromISO($json.body.fecha + \"T\" + $json.body.hora + \":00\").plus({ hours: 1 }).toISO() }}",
              "type": "string"
            },
            {
              "id": "3",
              "name": "nombre",
              "value": "={{ $json.body.nombre }}",
              "type": "string"
            },
            {
              "id": "4",
              "name": "email",
              "value": "={{ $json.body.email }}",
              "type": "string"
            },
            {
              "id": "5",
              "name": "servicio",
              "value": "={{ $json.body.servicio }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true
      }
    },
    {
      "id": "2a99c2e0-9ffa-4020-b67d-ed5b160003c2",
      "name": "Buscar Eventos",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        448,
        96
      ],
      "parameters": {
        "resource": "event",
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "mode": "id",
          "value": "primary"
        },
        "returnAll": true,
        "timeMin": "={{ $json.fecha_inicio }}",
        "timeMax": "={{ $json.fecha_fin }}"
      }
    },
    {
      "id": "9e0a1582-dcd9-4e70-a76d-55cb9f00a618",
      "name": "Horario Disponible",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        672,
        96
      ],
      "parameters": {
        "conditions": {
          "combinator": "and",
          "conditions": [
            {
              "leftValue": "={{ $items(\"Buscar Eventos\").length }}",
              "operator": {
                "type": "number",
                "operation": "equal"
              },
              "rightValue": 0
            }
          ],
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          }
        }
      }
    },
    {
      "id": "e6d1f49d-7568-432c-a255-f09f6ffc7235",
      "name": "Crear Evento",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        896,
        0
      ],
      "parameters": {
        "resource": "event",
        "operation": "create",
        "calendar": {
          "__rl": true,
          "mode": "id",
          "value": "primary"
        },
        "start": "={{ $json.fecha_inicio }}",
        "end": "={{ $json.fecha_fin }}",
        "useDefaultReminders": true,
        "additionalFields": {
          "summary": "={{ \"Cita - \" + $json.nombre }}",
          "description": "={{ \"Servicio: \" + $json.servicio + \" | Cliente: \" + $json.nombre }}",
          "attendees": "={{ $json.email }}",
          "sendUpdates": "all",
          "conferenceDataUi": {
            "conferenceDataValues": {
              "conferenceSolution": "hangoutsMeet"
            }
          }
        }
      }
    },
    {
      "id": "e4c67ff6-e352-4d5a-8037-677b2d507a6d",
      "name": "Enviar Confirmacion",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1120,
        0
      ],
      "parameters": {
        "resource": "message",
        "operation": "send",
        "authentication": "oAuth2",
        "sendTo": "={{ $json.email }}",
        "subject": "Cita Confirmada",
        "emailType": "html",
        "message": "={{ \"<h2>Cita Confirmada</h2><p>Hola \" + $json.nombre + \", tu cita fue agendada correctamente.</p><p>Servicio: \" + $json.servicio + \"</p><p>Fecha: \" + $json.fecha_inicio + \"</p>\" }}"
      },
      "webhookId": "d9b7c366-94e0-4723-bef1-f5f81f5cfbb6",
      "credentials": {
        "gmailOAuth2": {
          "id": "rYlfmBHKbx5tciTg",
          "name": "Gmail account"
        }
      }
    },
    {
      "id": "6c2d73ac-359d-4d24-a467-8f331f8d368b",
      "name": "Horario Ocupado",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        896,
        192
      ],
      "parameters": {
        "mode": "manual",
        "assignments": {
          "assignments": [
            {
              "id": "1",
              "name": "mensaje",
              "value": "Horario no disponible. Selecciona otro horario.",
              "type": "string"
            }
          ]
        }
      }
    }
  ],
  "connections": {
    "Webhook Agenda": {
      "main": [
        [
          {
            "node": "Preparar Datos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Datos": {
      "main": [
        [
          {
            "node": "Buscar Eventos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Eventos": {
      "main": [
        [
          {
            "node": "Horario Disponible",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Horario Disponible": {
      "main": [
        [
          {
            "node": "Crear Evento",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Horario Ocupado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Crear Evento": {
      "main": [
        [
          {
            "node": "Enviar Confirmacion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": true
  },
  "staticData": null,
  "meta": {
    "aiBuilderAssisted": true,
    "builderVariant": "mcp"
  },
  "nodeGroups": [],
  "pinData": null,
  "versionId": "2677fc23-2316-4475-9879-34e9d676d730",
  "activeVersionId": null,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-05-11T14:31:42.871Z",
      "createdAt": "2026-05-11T14:31:42.871Z",
      "role": "workflow:owner",
      "workflowId": "X2D2OdFZ8ZhWMZ45",
      "projectId": "YlWHwxOGxcFi2H90"
    }
  ],
  "activeVersion": null,
  "tags": []
}