ai-calendar-manager-.json
{
  "updatedAt": "2026-05-25T14:57:31.587Z",
  "createdAt": "2026-05-08T15:02:51.215Z",
  "id": "z26nq62JcamLINan",
  "name": "AI Calendar Manager",
  "active": false,
  "isArchived": true,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "calendar-webhook",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "node-1",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        112,
        208
      ],
      "webhookId": "ddc824aa-c67e-47f9-ada4-17cc095b1b3c"
    },
    {
      "parameters": {
        "agent": "toolsAgent",
        "options": {
          "systemMessage": "You are a helpful assistant. Today is {{$now}}. Use your tools to manage Google Calendar events based on user requests."
        }
      },
      "id": "node-2",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1,
      "position": [
        416,
        208
      ]
    },
    {
      "parameters": {
        "model": "gpt-4o",
        "options": {
          "temperature": 0.3
        }
      },
      "id": "node-3",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        144,
        400
      ]
    },
    {
      "parameters": {
        "sessionKey": "={{$json.sessionId}}",
        "contextWindowLength": 10
      },
      "id": "node-4",
      "name": "Window Buffer Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1,
      "position": [
        288,
        400
      ]
    },
    {
      "parameters": {
        "name": "calendarTool",
        "description": "Create or read Google Calendar events",
        "workflowId": {
          "__rl": true,
          "value": "calWF-abc123",
          "mode": "id"
        }
      },
      "id": "node-5",
      "name": "Calendar Tool",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 1,
      "position": [
        432,
        416
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{JSON.stringify({ answer: $json.output || $json.response })}}",
        "options": {}
      },
      "id": "node-6",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        800,
        208
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Window Buffer Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Calendar Tool": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "staticData": {},
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "nodeGroups": [],
  "pinData": {},
  "versionId": "706a2193-23f8-40e5-bbf6-5c7488954090",
  "activeVersionId": null,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-05-08T15:02:51.215Z",
      "createdAt": "2026-05-08T15:02:51.215Z",
      "role": "workflow:owner",
      "workflowId": "z26nq62JcamLINan",
      "projectId": "YlWHwxOGxcFi2H90"
    }
  ],
  "activeVersion": null,
  "tags": []
}