ai-calendar-scheduler-.json
{
  "updatedAt": "2026-05-11T07:56:04.626Z",
  "createdAt": "2026-05-11T07:39:34.528Z",
  "id": "VrnxkLqLuKdLqMqt",
  "name": "AI Calendar Scheduler",
  "active": false,
  "isArchived": true,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "schedule-appointment",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "node-1",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        112,
        192
      ],
      "webhookId": "ac784064-b12d-410a-9d3e-c01f9279639d"
    },
    {
      "parameters": {
        "agent": "toolsAgent",
        "options": {
          "systemMessage": "You are a helpful assistant. Today is {{$now}}. Use your tools to schedule or verify appointments in Google Calendar. When creating, require title, startTime, endTime, description. When verifying, return upcoming events."
        }
      },
      "id": "node-2",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1,
      "position": [
        392,
        192
      ]
    },
    {
      "parameters": {
        "model": "gpt-4o",
        "options": {
          "temperature": 0.3
        }
      },
      "id": "node-3",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        336,
        416
      ]
    },
    {
      "parameters": {
        "sessionKey": "={{$json.sessionId}}",
        "contextWindowLength": 10
      },
      "id": "node-4",
      "name": "Window Buffer Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1,
      "position": [
        464,
        416
      ]
    },
    {
      "parameters": {
        "name": "calendarTool",
        "description": "Create or read calendar events",
        "workflowId": {
          "__rl": true,
          "value": "CALENDAR_SUB",
          "mode": "id"
        }
      },
      "id": "node-5",
      "name": "Calendar Tool",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 1,
      "position": [
        592,
        416
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{JSON.stringify({ reply: $json.output })}}",
        "options": {}
      },
      "id": "node-6",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        800,
        192
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Window Buffer Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Calendar Tool": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "staticData": null,
  "meta": null,
  "nodeGroups": [],
  "pinData": {},
  "versionId": "fa87e2e0-75b8-4d8e-a2bb-94dd01a36e03",
  "activeVersionId": null,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-05-11T07:39:34.528Z",
      "createdAt": "2026-05-11T07:39:34.528Z",
      "role": "workflow:owner",
      "workflowId": "VrnxkLqLuKdLqMqt",
      "projectId": "YlWHwxOGxcFi2H90"
    }
  ],
  "activeVersion": null,
  "tags": []
}