flujo_2_marketing-.json
{
  "updatedAt": "2026-06-25T13:40:07.383Z",
  "createdAt": "2026-06-24T14:04:31.800Z",
  "id": "2iyJW0QRLm0wi1ud",
  "name": "Flujo_2_Marketing",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "url": "https://transactionalapi.branchtech.co/dev/api/v1/admin/marketing/segments/deposited",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "start",
              "value": "={{$today.minus(11, 'days')}}"
            },
            {
              "name": "end",
              "value": "={{ $today }}"
            },
            {
              "name": "channel",
              "value": "EMAIL"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            },
            {
              "name": "X-Timestamp",
              "value": "={{ $json[\"X-Timestamp\"] }}"
            },
            {
              "name": "X-Nonce",
              "value": "={{ $json[\"X-Nonce\"] }}"
            },
            {
              "name": "X-Signature",
              "value": "={{ $json[\"X-Signature\"] }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{$('Redis').item.json.propertyName  }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        640,
        32
      ],
      "id": "7443b43c-2fbc-424e-b036-bdf710e4f7f9",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "operation": "get",
        "key": "accessToken",
        "options": {}
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -32,
        32
      ],
      "id": "ebe7821c-dcd5-40f6-9eed-57266232db45",
      "name": "Redis",
      "credentials": {
        "redis": {
          "id": "FmIJ14WSiatNaRQJ",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const csv = $input.first().json.data;\nconst lines = csv.trim().split('\\n');\nconst headers = lines[0].split(',');\n\nreturn lines.slice(1).map(line => {\n  const values = line.split(',');\n  const obj = {};\n  headers.forEach((h, i) => obj[h.trim()] = values[i]?.trim());\n\n  const today = new Date(new Date().toISOString().split('T')[0]);\n\n  if (obj.is_first_deposit === 'true' && obj.deposit_at) {\n    const depositDate = new Date(obj.deposit_at.split('T')[0]);\n    const diffMs = today - depositDate;\n    obj.days_since_deposit = Math.floor(diffMs / (1000 * 60 * 60 * 24));\n  } else if (obj.registered_at) {\n    const registeredDate = new Date(obj.registered_at.split('T')[0]);\n    const diffMs = today - registeredDate;\n    obj.days_since_registered = Math.floor(diffMs / (1000 * 60 * 60 * 24));\n  } else {\n    obj.days_since_deposit = null;\n  }\n\n  return { json: obj };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        864,
        32
      ],
      "id": "e0158278-5d27-4749-9ac7-c585446cc1e9",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d32afad5-755a-4d9f-b105-140afb230324",
              "name": "path",
              "value": "=/api/v1/admin/marketing/segments/deposited",
              "type": "string"
            },
            {
              "id": "194535ed-dbe9-4d92-b00b-870bd3984a96",
              "name": "body_json",
              "value": "=",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        192,
        32
      ],
      "id": "ccdacb87-09db-4c3d-b1e7-733ff67e3b3b",
      "name": "path"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "hNkfZRxj5g8aESFu",
          "mode": "list",
          "cachedResultUrl": "/workflow/hNkfZRxj5g8aESFu",
          "cachedResultName": "integridadDatos"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        416,
        32
      ],
      "name": "Call integridadDatos",
      "id": "96fd273a-d94c-42cf-8fd2-e835fe79ef01"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -256,
        32
      ],
      "id": "58c5499e-dae4-4212-931d-0cd4c51c3161",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.days_since_deposit }}",
                    "rightValue": 2,
                    "operator": {
                      "type": "number",
                      "operation": "equals"
                    },
                    "id": "186e3ea9-9a91-4201-a3c5-fde33b66edcc"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "DIA 2"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "4f4fb256-1b16-4515-940b-1c13438d73a8",
                    "leftValue": "={{ $json.days_since_deposit }}",
                    "rightValue": 5,
                    "operator": {
                      "type": "number",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "DIA 5"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "dd08fcb7-0bbc-4a28-8e0b-e7eb26bf8678",
                    "leftValue": "={{ $json.days_since_deposit }}",
                    "rightValue": 10,
                    "operator": {
                      "type": "number",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "DIA 10"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        1088,
        16
      ],
      "id": "2594cbe9-f1df-4982-b55b-8aae8f36b13d",
      "name": "Switch"
    }
  ],
  "connections": {
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis": {
      "main": [
        [
          {
            "node": "path",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "path": {
      "main": [
        [
          {
            "node": "Call integridadDatos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call integridadDatos": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Redis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "staticData": null,
  "meta": null,
  "nodeGroups": [],
  "pinData": {},
  "versionId": "01c92d14-8215-4805-8a9c-f41a911da8eb",
  "activeVersionId": null,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-06-24T14:04:31.800Z",
      "createdAt": "2026-06-24T14:04:31.800Z",
      "role": "workflow:owner",
      "workflowId": "2iyJW0QRLm0wi1ud",
      "projectId": "YlWHwxOGxcFi2H90"
    }
  ],
  "activeVersion": null,
  "tags": []
}