flujo_1_marketing-.json
{
  "updatedAt": "2026-06-24T13:59:55.621Z",
  "createdAt": "2026-06-23T14:35:44.480Z",
  "id": "17XOjtzLyBBnfqqx",
  "name": "Flujo_1_Marketing",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 8
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -112,
        0
      ],
      "id": "240e54a8-d28a-41ac-a6af-3082ce9cf950",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "url": "https://transactionalapi.branchtech.co/dev/api/v1/admin/marketing/segments/registered-without-deposit",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "start",
              "value": "={{$today.minus(30, 'days')}}"
            },
            {
              "name": "end",
              "value": "={{ $today }}"
            },
            {
              "name": "channel",
              "value": "EMAIL"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            },
            {
              "name": "X-Timestamp",
              "value": "={{ $json[\"X-Timestamp\"] }}"
            },
            {
              "name": "X-Nonce",
              "value": "={{ $json[\"X-Nonce\"] }}"
            },
            {
              "name": "X-Signature",
              "value": "={{ $json[\"X-Signature\"] }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{$('Redis').item.json.propertyName  }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        784,
        0
      ],
      "id": "05ed243b-fea3-4f1f-9494-f7af71d58189",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "operation": "get",
        "key": "accessToken",
        "options": {}
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        112,
        0
      ],
      "id": "1cdd4b63-0450-4bef-88e0-055ffbca205d",
      "name": "Redis",
      "credentials": {
        "redis": {
          "id": "FmIJ14WSiatNaRQJ",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const csv = $input.first().json.data;\nconst lines = csv.trim().split('\\n');\nconst headers = lines[0].split(',');\n\nreturn lines.slice(1).map(line => {\n  const values = line.split(',');\n  const obj = {};\n  headers.forEach((h, i) => obj[h.trim()] = values[i]?.trim());\n\n  if (obj.registered_at) {\n    const registeredDate = new Date(obj.registered_at.split('T')[0]);\n    const today = new Date(new Date().toISOString().split('T')[0]);\n    const diffMs = today - registeredDate;\n    const diffDays = Math.floor(diffMs / (1000 * 60 * 60 * 24));\n    obj.days_since_registered = diffDays;\n  } else {\n    obj.days_since_registered = null;\n  }\n\n  return { json: obj };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1008,
        0
      ],
      "id": "8e0c4553-3f23-484b-b3aa-c7310aad3f76",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d32afad5-755a-4d9f-b105-140afb230324",
              "name": "path",
              "value": "=/api/v1/admin/marketing/segments/registered-without-deposit",
              "type": "string"
            },
            {
              "id": "194535ed-dbe9-4d92-b00b-870bd3984a96",
              "name": "body_json",
              "value": "=",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        336,
        0
      ],
      "id": "f2d3f1d9-45a3-4a30-a496-bfe72ab68b82",
      "name": "path"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "hNkfZRxj5g8aESFu",
          "mode": "list",
          "cachedResultUrl": "/workflow/hNkfZRxj5g8aESFu",
          "cachedResultName": "integridadDatos"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        560,
        0
      ],
      "name": "Call integridadDatos",
      "id": "5466ecc7-510f-4ed1-bdab-fed52c68d13e"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.days_since_registered }}",
                    "rightValue": 1,
                    "operator": {
                      "type": "number",
                      "operation": "equals"
                    },
                    "id": "42ea431e-7577-4749-8d6c-e57417f2c56b"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "DIA 1"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "5c5f5e89-2c3f-440f-9953-bb5b6ad55040",
                    "leftValue": "={{ $json.days_since_registered }}",
                    "rightValue": 3,
                    "operator": {
                      "type": "number",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "DIA 3"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "de8d09ec-3dfa-44d7-8c85-3004baeec9a0",
                    "leftValue": "={{ $json.days_since_registered }}",
                    "rightValue": 7,
                    "operator": {
                      "type": "number",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "DIA 7"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "e7ad1c69-aaa6-41c9-aadb-2365a69fc160",
                    "leftValue": "={{ $json.days_since_registered }}",
                    "rightValue": 14,
                    "operator": {
                      "type": "number",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "DIA 14"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "c51a24ed-cf22-4518-9451-3a784056118c",
                    "leftValue": "={{ $json.days_since_registered }}",
                    "rightValue": 30,
                    "operator": {
                      "type": "number",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "DIA 30"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        1200,
        -48
      ],
      "id": "66612484-1840-48b4-afc7-6c6ff52b8d54",
      "name": "Switch"
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Redis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis": {
      "main": [
        [
          {
            "node": "path",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "path": {
      "main": [
        [
          {
            "node": "Call integridadDatos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call integridadDatos": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "nodeGroups": [],
  "pinData": {},
  "versionId": "d718d154-8b9f-49d4-bd57-796bab2b57d9",
  "activeVersionId": null,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-06-23T14:35:44.480Z",
      "createdAt": "2026-06-23T14:35:44.480Z",
      "role": "workflow:owner",
      "workflowId": "17XOjtzLyBBnfqqx",
      "projectId": "YlWHwxOGxcFi2H90"
    }
  ],
  "activeVersion": null,
  "tags": []
}