getloginsmarcadosblack-.json
{
  "updatedAt": "2026-06-11T17:56:00.620Z",
  "createdAt": "2026-05-27T15:51:13.385Z",
  "id": "vKLvJuXEsgF6J0s7",
  "name": "getLoginsMarcadosBlack",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "seconds",
              "secondsInterval": 20
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -128,
        32
      ],
      "id": "595dc6bb-8190-4ca2-85f7-a0a53c6397a3",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "url": "http://188.245.125.1:8020/api/blacklist",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        96,
        32
      ],
      "id": "49548fac-0e3f-4350-b63f-dd98244ff6e7",
      "name": "getListasMarcadas"
    },
    {
      "parameters": {
        "operation": "set",
        "key": "loginsMarcadosProduccion",
        "value": "={{ JSON.stringify($json.logins) }}"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        544,
        32
      ],
      "id": "07b9faec-2fca-4b7f-adca-9a079b637bcd",
      "name": "getLoginsMarcadosProd",
      "credentials": {
        "redis": {
          "id": "FmIJ14WSiatNaRQJ",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const logins = items.flatMap(item => \n  item.json.accounts.map(login => Number(login))  \n);\nreturn [{ json: { logins } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        320,
        32
      ],
      "id": "14ae9437-e5e4-4c32-8b5a-59bb86bc687f",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.first().json.propertyName;\nconst logins = new Set(JSON.parse(raw));\nconst loginAConsultar = $('Edit Fields').first().json.login;\n\n// Probar ambos tipos\nconst marcado = logins.has(loginAConsultar) || logins.has(Number(loginAConsultar));\n\nreturn [{ json: { marcado } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        464,
        272
      ],
      "id": "b651d659-8316-44c3-b9f8-a6db84619eb5",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a5387374-f746-4390-8e61-a1f072859d41",
              "name": "login",
              "value": "900710",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        16,
        272
      ],
      "id": "8dbed352-18cc-47f3-b07b-8a34582556b6",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "operation": "get",
        "key": "loginsMarcadosProduccion",
        "options": {}
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        240,
        272
      ],
      "id": "379e2e3f-371a-48e3-a37f-d275dd9dbcae",
      "name": "getLoginMarcados",
      "credentials": {
        "redis": {
          "id": "FmIJ14WSiatNaRQJ",
          "name": "Redis account"
        }
      }
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "getListasMarcadas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "getListasMarcadas": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "getLoginsMarcadosProd",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "getLoginMarcados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "getLoginMarcados": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "nodeGroups": [],
  "pinData": {},
  "versionId": "7e1ce275-7b98-44b6-88e3-9c6f322360cb",
  "activeVersionId": "7e1ce275-7b98-44b6-88e3-9c6f322360cb",
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-05-27T15:51:13.385Z",
      "createdAt": "2026-05-27T15:51:13.385Z",
      "role": "workflow:owner",
      "workflowId": "vKLvJuXEsgF6J0s7",
      "projectId": "YlWHwxOGxcFi2H90"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-06-07T18:34:11.242Z",
    "createdAt": "2026-06-07T18:34:08.534Z",
    "versionId": "7e1ce275-7b98-44b6-88e3-9c6f322360cb",
    "workflowId": "vKLvJuXEsgF6J0s7",
    "nodes": [
      {
        "parameters": {
          "rule": {
            "interval": [
              {
                "field": "seconds",
                "secondsInterval": 20
              }
            ]
          }
        },
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.3,
        "position": [
          -128,
          32
        ],
        "id": "595dc6bb-8190-4ca2-85f7-a0a53c6397a3",
        "name": "Schedule Trigger"
      },
      {
        "parameters": {
          "url": "http://188.245.125.1:8020/api/blacklist",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          96,
          32
        ],
        "id": "49548fac-0e3f-4350-b63f-dd98244ff6e7",
        "name": "getListasMarcadas"
      },
      {
        "parameters": {
          "operation": "set",
          "key": "loginsMarcadosProduccion",
          "value": "={{ JSON.stringify($json.logins) }}"
        },
        "type": "n8n-nodes-base.redis",
        "typeVersion": 1,
        "position": [
          544,
          32
        ],
        "id": "07b9faec-2fca-4b7f-adca-9a079b637bcd",
        "name": "getLoginsMarcadosProd",
        "credentials": {
          "redis": {
            "id": "FmIJ14WSiatNaRQJ",
            "name": "Redis account"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "const logins = items.flatMap(item => \n  item.json.accounts.map(login => Number(login))  \n);\nreturn [{ json: { logins } }];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          320,
          32
        ],
        "id": "14ae9437-e5e4-4c32-8b5a-59bb86bc687f",
        "name": "Code in JavaScript"
      },
      {
        "parameters": {
          "jsCode": "const raw = $input.first().json.propertyName;\nconst logins = new Set(JSON.parse(raw));\nconst loginAConsultar = $('Edit Fields').first().json.login;\n\n// Probar ambos tipos\nconst marcado = logins.has(loginAConsultar) || logins.has(Number(loginAConsultar));\n\nreturn [{ json: { marcado } }];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          464,
          272
        ],
        "id": "b651d659-8316-44c3-b9f8-a6db84619eb5",
        "name": "Code in JavaScript1"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "a5387374-f746-4390-8e61-a1f072859d41",
                "name": "login",
                "value": "900710",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          16,
          272
        ],
        "id": "8dbed352-18cc-47f3-b07b-8a34582556b6",
        "name": "Edit Fields"
      },
      {
        "parameters": {
          "operation": "get",
          "key": "loginsMarcadosProduccion",
          "options": {}
        },
        "type": "n8n-nodes-base.redis",
        "typeVersion": 1,
        "position": [
          240,
          272
        ],
        "id": "379e2e3f-371a-48e3-a37f-d275dd9dbcae",
        "name": "getLoginMarcados",
        "credentials": {
          "redis": {
            "id": "FmIJ14WSiatNaRQJ",
            "name": "Redis account"
          }
        }
      }
    ],
    "connections": {
      "Schedule Trigger": {
        "main": [
          [
            {
              "node": "getListasMarcadas",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "getListasMarcadas": {
        "main": [
          [
            {
              "node": "Code in JavaScript",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code in JavaScript": {
        "main": [
          [
            {
              "node": "getLoginsMarcadosProd",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Edit Fields": {
        "main": [
          [
            {
              "node": "getLoginMarcados",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "getLoginMarcados": {
        "main": [
          [
            {
              "node": "Code in JavaScript1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "nodeGroups": [],
    "authors": "Broke Os",
    "name": "Version 7e1ce275",
    "description": "",
    "autosaved": true
  },
  "tags": []
}