opentrade-.json
{
  "updatedAt": "2026-06-23T09:00:36.658Z",
  "createdAt": "2026-05-14T07:25:54.668Z",
  "id": "p162ntNcQO6qD9Yn",
  "name": "openTrade",
  "active": false,
  "isArchived": true,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "seconds",
              "secondsInterval": 1
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -80,
        -32
      ],
      "id": "e60c6b04-9704-43ca-89e5-2c2a12c914e6",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "jsCode": "const logins = [100150,100170,100171]\n\n\n\nreturn {login : logins[Math.floor(Math.random()*3)],\n       type : Math.floor(Math.random()*2)};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        144,
        -32
      ],
      "id": "d590f7d3-7381-4e7d-bf25-c63be1c3ba12",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://apicrm.kynex.trade:11873/trading/open",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "Bearer Byl3dho35D_VTQsz6ApGdpYx.-tiP60CTqys0-VL"
            },
            {
              "name": "X-Admin-Token",
              "value": "CsKuFGw~r1*IaBMo0saEDsGD*yBM!CB*Tkbchbuf4mlRxZ3eXCZGLmtf5lkvCQ2f"
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "deviation"
            },
            {
              "name": "lots",
              "value": "5.0"
            },
            {
              "name": "type_fill"
            },
            {
              "name": "price"
            },
            {
              "name": "login",
              "value": "={{ $json.login }}"
            },
            {
              "name": "symbol",
              "value": "Crash 1000 Index"
            },
            {
              "name": "sl"
            },
            {
              "name": "type",
              "value": "={{ $json.type }}"
            },
            {
              "name": "tp"
            },
            {
              "name": "comment"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        368,
        -32
      ],
      "id": "c8a61bbd-ff9f-4891-a29a-409d73c0285e",
      "name": "HTTP Request2"
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "nodeGroups": [],
  "pinData": {},
  "versionId": "fbf89d77-d7ee-4a81-8ca6-ac18f0a2eb45",
  "activeVersionId": null,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-05-14T07:25:54.668Z",
      "createdAt": "2026-05-14T07:25:54.668Z",
      "role": "workflow:owner",
      "workflowId": "p162ntNcQO6qD9Yn",
      "projectId": "YlWHwxOGxcFi2H90"
    }
  ],
  "activeVersion": null,
  "tags": []
}