prueba-api-1-.json
{
  "updatedAt": "2026-06-01T14:57:33.381Z",
  "createdAt": "2026-06-01T08:02:22.005Z",
  "id": "JhrlZFH089rxrPkd",
  "name": "prueba api 1",
  "active": false,
  "isArchived": true,
  "nodes": [
    {
      "id": "node-1",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        220,
        300
      ],
      "parameters": {
        "httpMethod": "POST",
        "path": "sdk-ref",
        "responseMode": "responseNode"
      },
      "webhookId": "f8ec5a3e-cc21-4033-adfa-0646a10477a5"
    },
    {
      "id": "node-2",
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        440,
        300
      ],
      "parameters": {
        "method": "GET",
        "url": "https://api.example.com/sdk/reference"
      }
    },
    {
      "id": "node-3",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        660,
        300
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{JSON.stringify($json)}}"
      }
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {},
  "staticData": null,
  "meta": null,
  "nodeGroups": [],
  "pinData": null,
  "versionId": "79cfd163-10ef-4d89-97a7-2840dffbb4e3",
  "activeVersionId": null,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-06-01T08:02:22.005Z",
      "createdAt": "2026-06-01T08:02:22.005Z",
      "role": "workflow:owner",
      "workflowId": "JhrlZFH089rxrPkd",
      "projectId": "YlWHwxOGxcFi2H90"
    }
  ],
  "activeVersion": null,
  "tags": []
}